 ----------- iPhone 4 and 4S ----------- */

/* Portrait */
@media screen 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    #ptotemy-game{
      width: 100% !important;
      height: 100% !important;
      margin: 0 auto !important;
      overflow-y: auto;
      overflow-x: hidden;
    }
    #machine {
      width: 100% !important;;
      margin-left: -10px !important;;
    }
    #freespins{
      left: 84% !important;
      width: 10% !important;
    }   
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    #ptotemy-game{
      width: 100% !important;
      height: 100% !important;
      margin: 0 auto !important;
      overflow-y: auto;
      overflow-x: hidden;
    }
    #machine {
      width: 100% !important;;
      margin-left: -10px !important;;
    }
    #freespins{
      left: 84% !important;
      width: 10% !important;
    }   
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    #ptotemy-game{
      width: 100% !important;
      height: 100% !important;
      margin: 0 auto !important;
      overflow-y: auto;
      overflow-x: hidden;
    }
    #machine {
      width: 100% !important;;
      margin-left: -10px !important;;
    }
    #freespins{
      left: 84% !important;
      width: 10% !important;
    }            
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+ ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    #ptotemy-game{
      width: 100% !important;
      height: 100% !important;
      margin: 0 auto !important;
      overflow-y: auto;
      overflow-x: hidden;
    }
    #machine {
      width: 100% !important;;
      margin-left: -10px !important;;
    }
    #freespins{
      left: 84% !important;
      width: 10% !important;
    }              
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- HTC One ----------- */

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
    #ptotemy-game{
      width: 100% !important;
      height: 100% !important;
      margin: 0 auto !important;
      overflow-y: auto;
      overflow-x: hidden;
    }
    #machine {
      width: 100% !important;;
      margin-left: -10px !important;;
    }
    #freespins{
      left: 84% !important;
      width: 10% !important;
    }                  
}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

/* ----------- Galaxy S3 ----------- */

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: portrait) {
    #ptotemy-game{
      width: 100% !important;
      height: 100% !important;
      margin: 0 auto !important;
      overflow-y: auto;
      overflow-x: hidden;
    }
    #machine {
      width: 100% !important;;
      margin-left: -10px !important;;
    }
    #freespins{
      left: 84% !important;
      width: 10% !important;
    }              
}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: landscape) {

}

/* ----------- Galaxy S4 ----------- */

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
    #ptotemy-game{
      width: 100% !important;
      height: 100% !important;
      margin: 0 auto !important;
      overflow-y: auto;
      overflow-x: hidden;
    }
    #machine {
      width: 100% !important;;
      margin-left: -10px !important;;
    }
    #freespins{
      left: 84% !important;
      width: 10% !important;
    }                       
}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

/* ----------- Galaxy S5 ----------- */

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
    #ptotemy-game{
      width: 100% !important;
      height: 100% !important;
      margin: 0 auto !important;
      overflow-y: auto;
      overflow-x: hidden;
    }
    #machine {
      width: 100% !important;;
      margin-left: -10px !important;;
    }
    #freespins{
      left: 84% !important;
      width: 10% !important;
    }                    
}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

/* ----------- iPad mini ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 1 and 2 ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3 and 4 ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- Big screens Screens ----------- */
@media screen 
  and (min-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
   
}



/*---------------- Extra Media Query  ------------------------------*/

@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1280px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    body{
      font-size: 2.2em !important;
    }
    #slot1, #slot2, #slot3 {
      height: 100px !important;
    }
    #slot1 img, #slot2 img, #slot3 img {
      width: 95px !important;
    }
    #handle{
      width: 6.8% !important;
      left: 87.5% !important;
    }

}

/* ---------------- Extra Media Query ------------------------------*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 640px)
  and (-webkit-min-device-pixel-ratio: 1)
  and (orientation: portrait) {
    #ptotemy-game{
      width: 100% !important;
      height: 100% !important;
      margin: 0 auto !important;
      overflow-y: auto;
      overflow-x: hidden;
    }
    #machine {
      width: 100% !important;;
      margin-left: -10px !important;;
    }
    #freespins{
      left: 84% !important;
      width: 10% !important;
    }   
}



/* ---------------- Extra Media Query ------------------------------*/
@media only screen 
  and (min-device-width: 600px) 
  and (max-device-width: 960px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    body{
      font-size: 1.8em !important;
    }
    #ptotemy-game{
      width: 100% !important;
      height: 100% !important;
      margin: 0 auto !important;
      overflow-y: auto;
      overflow-x: hidden;
    }
    #machine {
      width: 100% !important;;
      margin-left: -10px !important;;
    }
    #freespins{
      left: 84% !important;
      width: 10% !important;
    }   
    #freespins span:first-child{
      font-size: 0.8em !important;
    }
    #slot1, #slot2, #slot3 {
      height: 75px !important;
    }
    #slot1 img, #slot2 img, #slot3 img {
      width: 75px !important;
    } 
    #handle{
      left: 88.5% !important;
      width: 7.5% !important;
    }
    #payoffs img{
      width: 45px !important;
      height: 45px !important;
    }
    #botPanel img{
      height: 75px !important;
      width: 75px !important;
    }
    #payoffs div{
      line-height: 45px !important;
    }

}





/*---------------- Extra Media Query  ------------------------------*/

@media only screen 
  and (min-device-width: 600px) 
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1)
  and (orientation: portrait) {
    body{
      font-size: 1.8em !important
    }
    #freespins span:first-child {
      font-size: 0.8em !important;
    }
    #slots{
      height: 10% !important;
    }
    #slot1, #slot2, #slot3{
      height: 90px !important;
    }
    #slot1 img, #slot2 img, #slot3 img {
      width: 85px !important;
    }
    #handle{
      left: 88.5% !important;
      width: 8.5% !important;
    }

}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 640px)
  and (-webkit-min-device-pixel-ratio: 1)
  and (orientation: landscape) {

}