@import url(http://fonts.googleapis.com/css?family=Comfortaa);

/* -------------- Please do not change the CSS for the below elements ----------- */
html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Comfortaa', cursive;
    background-color: #000;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#ptotemy-game {
    position: fixed;
    width: 640px;
    height: 480px;
    margin:auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
}

#log {
    display: none;
    pointer-events: none;
}

#entities, #items {
    position: absolute;
    top: 0;
    left: 0;
    width: 640px;
    height: 480px;
    pointer-events: none;
}

img {
    width: 100%;
    height: 100%;
}

.environment, .location, .entity, .item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.no-click { pointer-events: none; }

/*--------------- You can edit below this -------------- */

#entities { display:none;}

#ptotemy-game {
    background: #111;
}

/*-------------------
* LEFT PANEL : Slot Machine
* This is the CSS for the slot machine on the left.
 --------------------*/

#slotmachine {
    margin-top: 6.5%;
    /*background-color: #fff;*/
}

#machine {
    width: 45%;
    height: 85%;
}

#handle {
    width: 40px;
    height: 130px;
    overflow:hidden;
    cursor: pointer;
    display: inline-block;
    top: 32%;
    left:39.5%;
}

#handle img {
    width: 500px;
}

#slots {
    width: auto;
    height: auto;
    top: 35.35%;
    left: 10.75%;
    -webkit-perspective: 500px; /* Chrome, Safari, Opera */
    perspective: 500px;
}

.slotMachine{
    padding: 0px;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    background-color: #ffffff;
}

#slot1, #slot2, #slot3 {
    position: static;
    width: 35px;
    height: 35px;
    padding: 5px;
    margin: 2px;
    overflow: hidden;
    display: inline-block;
    /*background-color: #ffffff;*/
}

#slot1 img, #slot2 img, #slot3 img {
    padding: 5px;
    width: 25px;
    height: 25px;
}

#slot2 { border-left: 1px solid #111; border-right: 1px solid #111; }

#branding {
    width: 27.5%;
    /*background: #2b81af;*/
    height: 12%;
    top: 14%;
    left: 8.5%;
}

#logo {
    width: 30.75%;
    /*background: #EE5757;*/
    height: 16.5%;
    top: 54%;
    left: 7%;
}

/*-------------------
* RIGHT PANEL : Pay off table and Quiz.
* This is the CSS for the pay off table and questions on the right.
 --------------------*/

#payofftable div {
    float:right;
    display: table;
    position: relative;
}

#payoffs, #currencyholder, #iconspanel {
    width: 47%;
    margin: 0 30px;
    display: table;
}

#currencyholder {
    background: rgba(1,1,1,0.6);
    height: 9%;
    margin: 0 30px;
    margin-top: 6.5%;
    border-radius: 7px;
    font-size: 20px;
    color: gold;
    text-shadow: 1px 1px #111;
}

#currencyholder span, #iconspanel div {
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    float: none;
}

#currencyholder span {
    width: 46%;
    padding: 0 2%;
}

#currencyholder span:first-child { text-align: left; }
#currencyholder span:last-child  { text-align: right; }


#payoffs {
    background: url('../img/panelbackground.png') center no-repeat;
    background-size: 100%;
    height: 60%;
    color: gold;
    text-shadow: 2px 1px #111;
    margin-top:1%;
}

#payoffs div {
    width: 80%;
    margin: 2% 10%;
    float: none;
}

#payoffs h3 {
    text-align: center;
    background: rgba(1,1,1,0.5);
    padding: 5px;
    border-radius: 7px;
}

#iconsPanel {
    /*background: #710909;*/
    height: 12%;
    margin: 0 30px;
    margin-top: 1%;
}

#iconsPanel img {
    position: static;
    margin: 5px;
    height: 40px;
    width: 40px;
    border-radius: 7px;
    /*box-shadow: 0px 0px 15px #FFDD00;*/
}